.memoween {
  display: flex;
  justify-content: center;
  height: 100vh;

  &__content {
    display: flex;
    flex-direction: column;
    
  }

  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    max-width: 1300px;
  }

  &__title {
    color: #FFFFFF;
    font-size: 96px;
    line-height: 116.72px;
    margin: 80px 0;
    -webkit-text-stroke: 1px #8958FF;
    text-align: center;
  }
}